@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-color: 255, 255, 255;
  --default-font: 'Helvetica';
  --bold-font-weight: 500;
  --regular-font-weight: 400;
  --detail-font-color: 102, 112, 133;
  --font-size-header: '12px';
  --background-header: 249, 250, 251;
  --border-header-color: 234, 236, 240;
  --background-role-design: 249, 245, 255;
  --background-role-marketing: 239, 248, 255;
  --background-role-product: 220, 244, 255;
  --background-role-qa: 249, 220, 255;
  --background-role-rnd: 210, 210, 255;
  --background-role-tech: 190, 210, 235;
  --text-color-design: 105, 65, 198;
  --text-color-marketing: 23, 92, 211;
  --text-color-product: 53, 56, 205;
  --text-color-qa: 40, 92, 166;
  --text-color-rnd: 54, 99, 198;
  --text-color-tech: 75, 105, 135;
  --base-padding-left: 2%;
  --base-padding-right: 1%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-color));
}

input[type="checkbox"] {
  appearance: none;
}

input [type="checkbox"]:checked {
  background: rgba(151, 71, 255, 1) !important;
}

.checkedCheckbox:checked {
  content: '✓' !important;
  background: rgba(151, 71, 255, 1) !important;
  color: white !important;
}

.form-checkbox {
  display: none;
}

.form-checkbox + label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
}

input[type="text"], input[type="email"], select {
  border: 1px solid rgba(208, 213, 221, 1);
  padding: 10px 14px;
  border-radius: 8px;
  font-family: var(--default-font);
}

input[type="text"]:focus,
input[type="email"]:focus {
  border: 1px solid rgba(151, 71, 255, 1) !important;
}

label {
  font-family: var(--default-font);
  padding-top: 4%;
  padding-bottom: 1.5%;
  font-size: 14px;
}

.form-checkbox:checked + label::before {
  content: '✓';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(151, 71, 255, 1);
  border-radius: 4px;
  color: white;
  text-align: center;
  line-height: 20px;
}

.default-checkbox {
  border: 1px solid rgb(208, 213, 221);
  border-radius: 6px;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 1);
}

@media (max-width: 1399px) {
  .p-10p {
    padding: 10%;
  }
}

@media (min-width: 1400px) {
  .p-5p {
    padding: 5%;
  }
}

.confirmButton {
  background: rgba(127, 86, 217, 1);
  color: #FFF;
}

.confirmButton:hover {
  background: rgba(70, 33, 153, 1);
}

.confirmButton:disabled {
  background: rgba(166, 138, 229, 1);
}

.regularButton {
  background: rgba(255, 255, 255, 1);
  color: rgb(var(--foreground-rgb));
  border: 1px solid rgba(208, 213, 221, 1);
}

.regularButton:hover {
  background: rgba(208, 213, 221, 1);
}

.iconContainer {
  width: 20px;
  height: 20px;
}

.iconContainer:hover .icon {
  color: rgba(151, 71, 255, 1) !important;
  fill: rgba(151, 71, 255, 1) !important;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
