@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-color: 255, 255, 255;
  --default-font: 'Helvetica';
  --bold-font-weight: 500;
  --regular-font-weight: 400;
  --detail-font-color: 102, 112, 133;
  --font-size-header: '12px';
  --background-header: 249, 250, 251;
  --border-header-color: 234, 236, 240;
  --background-role-design: 249, 245, 255;
  --background-role-marketing: 239, 248, 255;
  --background-role-product: 220, 244, 255;
  --background-role-qa: 249, 220, 255;
  --background-role-rnd: 210, 210, 255;
  --background-role-tech: 190, 210, 235;
  --text-color-design: 105, 65, 198;
  --text-color-marketing: 23, 92, 211;
  --text-color-product: 53, 56, 205;
  --text-color-qa: 40, 92, 166;
  --text-color-rnd: 54, 99, 198;
  --text-color-tech: 75, 105, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-color));
}

input[type="checkbox"] {
  border: 1px solid rgb(208, 213, 221);
  border-radius: 6px;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 1);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
